/* CSS declarations go here */
#accueilDiv {
	text-align: center;
}

#h1Accueil {
	font-size: 5em;
	font-family: 'BebasNeueBold', sans-serif;
	color: #fff;
}

.texteIntro {
	margin: 3vh 30px 3vh;
	padding: 3vh 30px;
	border-top: 1px solid #fff;
	color: #fff;
	font-size: 1.8em;
	text-align: center;
}