<template name="accueil">
  <!-- Video background full-width -->
  <video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="1920" height="1028" poster="img/bg_body_large_glitch.png">
    <source src="media/bg_body_large_glitch3.mp4" type="video/mp4" />
    <source src="media/bg_body_large_glitch3.ogv" type="video/ogg" />
    <source src="media/bg_body_large_glitch3.webm" type="video/webm" />
</video>
  
  <div class="content">
    <img src="img/Logo_MatcHammer_v2.png" alt="Match Hammer" id="logoAccueil">
    <div id="accueilContent">
      <div class="contentBG">
        <h1>Trouve de nouveaux joueurs !</h1>
        <p class="texteIntro">
        Système de matchmaking pour le jeu Warhammer 40.000&trade;.<br>
        Affronte de nouveaux adversaires proches de chez toi !
        </p>
        <div id ="registerDiv">
          {{#animate type="bounce" delay="200"}}
          <button class="btn btn-primary" id="register">S'enregistrer</button>
          {{/animate}}
        </div>
        <div id="loginDiv">
          <button class="btn btn-secondary" id="login">Se connecter</button>
        </div>
        <h3>
        "Dans cet univers, il n’y a que la guerre !"
        </h3>
        <p class="legalInfos">
          <strong>Ce site n'est pas officiel et en aucun cas autorisé ou approuvé par Games Workshop.</strong><br>
          &copy; Copyright Games Workshop Limited 2017. GW, Games Workshop, Space Marine, 40K, Warhammer, Warhammer 40,000, the ‘Aquila’ Double-headed Eagle logo, and all associated logos, illustrations, images, names, creatures, races, vehicles, locations, weapons, characters, and the distinctive likenesses thereof, are either &reg; or &trade;, and/or &copy; Games Workshop Limited, variably registered around the world. All Rights Reserved.
        </p>
        {{>footer}}
      </div>
    </div>
  </div>
  {{>loginModalTemplate}}
  {{>registerModalTemplate}}
  {{>footerModal}}
</template>

<template name="loginModalTemplate">
<div class="modal fade" id="loginModal">
<div class="modal-dialog modal-sm">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
  <form class="login-form">
    <div>
      <label for="loginEmail">Adresse email:</label>  
      <input class="email-address-input" name="loginEmail" id="loginEmail"  type="text" placeholder="entrez votre e-mail">
    </div>
    <div>
      <label for="loginPassword">Mot de passe:</label> 
      <input class="password-input" name="loginPassword" id="loginPassword"  type="password" placeholder="entrez votre mot de passe">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" id="loginButton" value="login">Se connecter</button>
    </div>
  </form>
  </div>
  </div>  
</template>

<template name="registerModalTemplate">
  <div class="modal fade" id="registerModal">
  <div class="modal-dialog modal-sm">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
  <form class="register-form">
    <div>  
      <label for="registerPseudo">Nom d'utilisateur:</label>
      <input class="pseudo-input" name="registerPseudo" id="registerPseudo" type="text" placeholder="entrez un pseudo">
    </div>
	<div>
      <label for="registerEmail">Adresse email:</label>  
      <input class="email-address-input" name="registerEmail" id="registerEmail" type="email" placeholder="entrez un e-mail valide">
    </div>
    <div>
      <label for="registerPassword">Mot de passe:</label>  
      <input class="password-input" type="password" name="registerPassword" id="registerPassword" placeholder="choisissez un mdp">
    </div>
    <div>
      <label for="registerConfirmPassword">Confirmer mot de passe:</label>  
      <input class="passwordConfirm-input" type="password" name="registerConfirmPassword" id="registerConfirmPassword" placeholder="confirmez le mdp">
    </div>
    <div>
      <label for="registerAdress">Adresse (ville):</label>  
      <input class="adress-input" type="text" name="registerAdress" id="registerAdress" placeholder="confirmez le mdp">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" value="Register">S'enregistrer</button>
    </div>
  </form>
  </div>
  </div>
  </template>