<template name="accueil">
  <!-- Video background full-width -->
  <video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="1920" height="1028" poster="img/bg_body_large_glitch.png">
    <source src="media/bg_body_large_glitch3.mp4" type="video/mp4" />
    <!-- <source src="media/bg_body_large_glitch3.ogv" type="video/ogg" />
    <source src="media/bg_body_large_glitch3.webm" type="video/webm" /> -->
</video>
  
  <div class="content">
    <img src="img/Logo_MatcHammer_v2.png" alt="Match Hammer" id="logoAccueil">
    <div id="accueilContent">
      <div class="contentBG">
        <h1>Trouve des joueurs<br> de ta region !</h1>
        <!-- <p class="titleSeparator"></p> -->
        <p class="texteIntro">
        Système de matchmaking pour le jeu Warhammer 40.000&copy;.<br>
        Trouve de nouveaux adversaires proches de chez toi.
        </p>
        <!-- <p class="titleSeparator"></p> -->
        <div id ="registerDiv">
          {{#animate type="bounce" delay="200"}}
          <button class="btn btn-primary" id="register">S'enregistrer</button>
          {{/animate}}
        </div>
        <div id="loginDiv">
          <button class="btn btn-secondary" id="login">Se connecter</button>
        </div>
        <h3>
        Dans cette galaxie, il n’y a que la guerre ! 
        </h3>
        <p class="legalInfos">
          <strong>Avertissement: Ce site n'est pas officiel et en aucun cas autorisé ou approuvé par Games Workshop.</strong>
          Warhammer 40.000, Games Workshop, le logo Warhammer 40,000, Adepta Sororita, Adeptus Astartes, Blood Angels, Chevaliers Gris, Dark Angels, Space Marines, Space Wolves, Adeptus Mechanicus, Cult Mechanicus, Skitarii, Astra Militarum, Dark Eldar, Dark Mechanicus, Démons du Chaos, Eldar, Empire Tau, Harlequins, Daemonkin, Militarum Tempestus, Necrons, Orks, Space Marines du Chaos sont des marques de Games Workshop Limited, utilisées sans autorisation et sans volonté de préjudice ou comme opposition à leur copyright.
          Toutes les images et illustrations de l'univers Warhammer 40,000 sont des ®, TM et/ou © Games Workshop Ltd 2000-2017, enregistrées au Royaume-Uni et dans d'autres pays. Elles sont utilisées sans autorisation et sans volonté de préjudice ou comme opposition à leur copyright.
        </p>
      </div>
    </div>
  </div>
  {{>loginModalTemplate}}
  {{>registerModalTemplate}}
</template>

<template name="loginModalTemplate">
<div class="modal fade" id="loginModal">
<div class="modal-dialog modal-sm">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
  <form class="login-form">
    <div>
      <label for="loginEmail">Adresse email:</label>  
      <input class="email-address-input" name="loginEmail" id="loginEmail"  type="text" placeholder="entrez votre e-mail">
    </div>
    <div>
      <label for="loginPassword">Mot de passe:</label> 
      <input class="password-input" name="loginPassword" id="loginPassword"  type="password" placeholder="entrez votre mot de passe">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" id="loginButton" value="login">Se connecter</button>
    </div>
  </form>
  </div>
  </div>  
</template>

<template name="registerModalTemplate">
  <div class="modal fade" id="registerModal">
  <div class="modal-dialog modal-sm">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
  <form class="register-form">
    <div>  
      <label for="registerPseudo">Nom d'utilisateur:</label>
      <input class="pseudo-input" name="registerPseudo" id="registerPseudo" type="text" placeholder="entrez un pseudo">
    </div>
	<div>
      <label for="registerEmail">Adresse email:</label>  
      <input class="email-address-input" name="registerEmail" id="registerEmail" type="text" placeholder="entrez un e-mail valide">
    </div>
    <div>
      <label for="registerPassword">Mot de passe:</label>  
      <input class="password-input" type="password" name="registerPassword" id="registerPassword" placeholder="choisissez un mdp">
    </div>
    <div>
      <label for="registerConfirmPassword">Confirmer mot de passe:</label>  
      <input class="passwordConfirm-input" type="password" name="registerConfirmPassword" id="registerConfirmPassword" placeholder="confirmez le mdp">
    </div>
    <div>
      <label for="registerAdress">Adresse (ville):</label>  
      <input class="adress-input" type="text" name="registerAdress" id="registerAdress" placeholder="confirmez le mdp">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" value="Register">S'enregistrer</button>
    </div>
  </form>
  </div>
  </div>
  </template>