<template name="accueil">
  <img src="img/Logo_MatcHammer.png" alt="Match Hammer" id="logoAccueil" style="height: 100px;">
  <div id="accueilContent">
    <div class="contentBG">
      <div id="text intro">
      <h1>Trouve des joueurs<br> de ta region !</h1>
      <p class="titleSeparator"></p>
      <p class="texteIntro">
      Système de matchmaking<br> pour le jeu Warhammer 40.000&copy;
      </p>
      <p class="texteIntro">
      Dans cette galaxie,<br> il n’y a que des adversaires ! 
      </p>
        <p class="titleSeparator"></p>
      </div>
      <div id ="registerDiv">
      <button  class="btn btn-primary" id="register">S'enregistrer</button>
      </div>
      <div id="loginDiv">
      <button  class="btn btn-secondary" id="login">Se connecter</button>
      </div>

    </div>
  </div>
  {{>loginModalTemplate}}
  {{>registerModalTemplate}}
</template>

<template name="loginModalTemplate">
<div class="modal fade" id="loginModal">
<div class="modal-dialog modal-sm">
  <form class="login-form">
    <div>
      <label for="loginEmail">Adresse email:</label>  
      <input class="email-address-input" name="loginEmail" id="loginEmail"  type="text" placeholder="entrez votre e-mail">
    </div>
    <div>
      <label for="loginPassword">Mot de passe:</label> 
      <input class="password-input" name="loginPassword" id="loginPassword"  type="password" placeholder="entrez votre mot de passe">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" id="loginButton" value="login">se connecter</button>
    </div>
  </form>
  </div>
  </div>
</template>

<template name="registerModalTemplate">
  <div class="modal fade" id="registerModal">
  <div class="modal-dialog modal-sm">
  <form class="register-form">
    <div>  
      <label for="registerPseudo">Nom d'utilisateur:</label>
      <input class="pseudo-input" name="registerPseudo" id="registerPseudo" type="text" placeholder="entrez un pseudo">
    </div>
	<div>
      <label for="registerEmail">Adresse email:</label>  
      <input class="email-address-input" name="registerEmail" id="registerEmail" type="text" placeholder="entrez un e-mail valide">
    </div>
    <div>
      <label for="registerPassword">Mot de passe:</label>  
      <input class="password-input" type="password" name="registerPassword" id="registerPassword" placeholder="choisissez un mdp">
    </div>
    <div>
      <label for="registerConfirmPassword">Confirmer mot de passe:</label>  
      <input class="passwordConfirm-input" type="password" name="registerConfirmPassword" id="registerConfirmPassword" placeholder="confirmez le mdp">
    </div>
    <div>
      <label for="registerAdress">Adresse (ville):</label>  
      <input class="adress-input" type="text" name="registerAdress" id="registerAdress" placeholder="confirmez le mdp">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" value="Register">s'enregistrer</button>
    </div>
  </form>
  </div>
  </div>
  </template>