<template name="gamesManager">
  <h1>Games Manager</h1>
  <p class="instructions">Gère les recherches et les matchs en cours.</p>
  {{> gamesWaitingList}}
  <!-- <span>
    <span class="prefix">#</span>
    <span class="match-prefix">{{army}}</span>
</span> -->
</template>

<template name="gamesWaitingList">
<h2>Matchs en attente</h2>
	<div id="matchList">
	<p>matchlist</p>
       {{#each match}}
       <ul>
       	<li>{{createdByName}} du {{startDate}} au {{endDate}}</li>
			<li>{{rangePoints.lower}} - {{rangePoints.upper}}</li> 
       <li>{{army}}</li>
       <li>{{moverange}} km </li>
       <li>{{rangePoints.RangeSchema.lower}} - {{rangePoints.RangeSchema.upper}}</li>
       <!-- <li>{{pointsMini}}-{{pointsMaxi}}</li> -->
       </ul>
	   {{/each}}
    </div>
</template>


<!-- <template name="pointsIndicator">
{{#each rangePoints}}
       			<ul>
					<li>{{lower}}</li>
					<li>{{upper}}</li>
				</ul>
				{{/each}}
</template> -->


<!-- //////////tests//////////// -->

<!-- {{#each rangePoints}}
<ul>
<li>{{lower}}</li>
<li>{{upper}}</li>
</ul>
{{/each}}



	   {{#each match}}
       <ul>
       <li>{{rangePoints}}</li>
       <li>{{createdBy}}</li>
       <li>{{army}}</li>
       <li>{{moverange}} km </li>
       <li>{{rangePoints.RangeSchema.lower}} - {{rangePoints.RangeSchema.upper}}</li>
       </ul>
	   {{/each}} -->

<!-- 	   <template name="gamesWaitingList">
<h2>Matchs en attente</h2>
	<div id="matchList">
	<p>matchlist</p>
       {{#each match}}
       <ul>
       	<li>{{createdBy}}</li>
       		<li>
       			
       			{{#each rangePoints}}
       			<ul>
					<li>{{lower}}</li>
					<li>{{upper}}</li>
				</ul>
				{{/each}}
				
			</li>
       <li>{{createdBy}}</li>
       <li>{{army}}</li>
       <li>{{moverange}} km </li>
       <li>{{rangePoints.RangeSchema.lower}} - {{rangePoints.RangeSchema.upper}}</li>
       </ul>
	   {{/each}}
    </div>
</template> -->