<template name="gamesManager">
  <h1>Games Manager</h1>
  {{> gamesWaitingList}}
  <!-- <span>
    <span class="prefix">#</span>
    <span class="match-prefix">{{army}}</span>
</span> -->
</template>

<template name="gamesWaitingList">
<h2>Matchs en attente</h2>
	<div id="matchList">
	<p>matchlist</p>
       {{#each match}}
       <ul>
       <li>{{createdBy.username}}</li>
       <li>{{army}}</li>
       <li>{{moverange}} km </li>
       <li>{{pointsMini}}-{{pointsMaxi}}</li>
       </ul>
	   {{/each}}
    </div>
</template>
