/* CSS declarations go here */
.matchmakingFieldset {
	max-width: 790px;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 15px;
	background: url('./img/bckg_fieldset.png');
	text-align: center;
}
.matchmakingFieldset:before {
	content: url('./img/bckg_fieldset-before.png');
	position: relative;
	top: -15px;
}
.matchmakingFieldset:after {
	content: url('./img/bckg_fieldset-after.png');
	position: relative;
	bottom: -22px;
}

.matchmakingFieldset label {
	margin: 30px 0 15px;
	display: block;
	text-align: left;
	font-family: "BaskervaldADFStd", serif;
	font-size: 1.3em;
	font-weight: normal;
	text-transform: initial;
	letter-spacing: 0.5px;
}

.matchmakingFieldset input, .matchmakingFieldset select {
	background: #033d24;
	color: #4beec4;
	border: 0.5px solid #157045;
	border-radius: 0;
}

.matchmakingFieldset optgroup {
	font-weight: normal;
}
.matchmakingFieldset .form-group {
	min-height: 80px;
	margin: auto;
}
.matchmakingFieldset .separator {
	margin-top: 15px;
}

/* SCREEN =<1024w */
@media screen and (max-width: 1024px) {
	.matchmakingFieldset {
	max-width: 710px;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 15px;
	background: url('./img/bckg_fieldset_small.png');
	text-align: center;
	}
	.matchmakingFieldset:before {
	content: url('./img/bckg_fieldset-before_small.png');
	position: relative;
	top: -15px;
	}
	.matchmakingFieldset:after {
	content: url('./img/bckg_fieldset-after_small.png');
	position: relative;
	bottom: -22px;
	}
}

#instructionsDiv {
	margin-top: 30px;
}