<template name="matchmaking">

<div id="matchmakingMain">
 <div id="sliderDistance">
 <p> rayon de déplacement</p>
	{{> moveDistance}} 
 </div>
 <div id="pointsRanger">
 <p>points compris entre</p> 
  <!-- {{> points2PlayWith}} -->
 </div>
</div>

</template>
<template name="moveDistance">
  <!-- <div id="distanceSlider">
  	<span class="example-val" name="body" id="range{{this._id}}"></span>
  </div> -->
  <div id="colorpicker">
	<div class="sliders" id="red"></div>
	<div class="sliders" id="green"></div>
	<div class="sliders" id="blue"></div>

	<div class="result"></div>
</div>
</template>


<!-- <template name="points2PlayWith">
  <div id="pointsSlider">
  	<span class="example-val" name="body" id="range{{this._id}}"></span>
  </div>
</template>
 -->