<template name="matchmaking">
   	<!-- {{> quickForm collection="Matchmakings" id="matchmaking" type="insert"}} -->
    <p class="instructions">Remplis tes critères de recherche et trouve un adversaire.</p>

	<!-- formulaire de matchmaking 
	uses : aldeed:autoform, muqube:noUiSlider -->
	{{#autoForm collection="Matchmakings" id="matchMaker" type="insert"}}
    <fieldset class="matchmakingFieldset">
    	<button type="submit" class="btn btnCallToAction">Matchmaking</button>
	    <!-- slider -->
	    <img src="./img/separator.png" class="separator">
	    {{> afQuickField type='noUiSlider' name='moverange' min=5 max=100 step=5}}
	    <!-- slider -->
	    <img src="./img/separator.png" class="separator">
	    {{> afQuickField name='slider'}} 
	    <!-- {{> afQuickField name="army"}} -->
	    <img src="./img/separator.png" class="separator">
	    {{> afQuickField name="army" firstOption="(Armée déployée)" options=armyOptions}}
	    <!-- {{> afQuickField name='lastCheckedOut'}} -->
	    <!-- <div class="{{#if afFieldIsInvalid name='slide'}} has-error{{/if}}">
     	</div> -->
    </fieldset>
	{{/autoForm}}
</template>