<template name="profile">
 	<h1>mon Profil</h1>

 	<p class="instructions">Gère ton profil et tes informations.</p>
	
	<div class="profileBloc">

<div id ="locationDiv">
          <button class="btn btn-secondary" id="locate">changer la localisation</button>
        </div> 
        <div id ="locationDiv">
          <button class="btn btn-secondary" id="changePicture">changer l'image du profil</button>
        </div> 
{{UserProfile.userSurname}}
{{#autoForm collection="UserProfile" type="update"}}
<!--     {{> afQuickField name="picture"}} -->
    {{> afQuickField name="userSurname"}}
    
    <button type="submit" class="btn btn-secondary">Sauvegarder</button>
{{/autoForm}}

	</div>
	
</template>

<!-- modal template for location -->
<template name="locationModalTemplate">
  <div class="modal fade" id="locationModal">
    <div class="modal-dialog modal-sm">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <div class="modal-content">
        <div class="modal-body">
          <div id="locate">
          {{#autoForm collection="UserProfile" type="update"}}
            {{> afQuickField name="location"}}
            {{/autoForm}}
            <button type="submit" class="btn btn-secondary">Sauvegarder</button>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</template>

<!-- modal template profile picture -->
<template name="profilePicModalTemplate">
  <div class="modal fade" id="locationModal">
    <div class="modal-dialog modal-sm">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <div class="modal-content">
        <div class="modal-body">
          <div id="locate">
          {{#autoForm collection="UserProfile" type="update"}}
            {{> afQuickField name="profilePicture"}}
            {{/autoForm}}
            <button type="submit" class="btn btn-secondary">Sauvegarder</button>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</template>