<template name="layout1">
	<div id="loader-wrapper">
    	<div id="loader"></div>
    	{{#animate type="fadeOut" delay="2500"}}
    	<div class="loader-text-auto"><p>Autorisation en cours ...</p></div>
    	{{/animate}}
    	<div class="loader-section section-left"></div>
   		<div class="loader-section section-right"></div>
  	</div>
	{{#animate type="fadeInUp" delay="3000"}}
	<div class="wrapper">
		<!-- NAVBAR
		***************************************************************** -->
		<nav class="navbar navbar-inverse" role="navigation">
      		<div class="navbar-header connectionBox">
        		<p><span class="connectionBoxNew">+++ Nouvelle connexion +++</span><br><i>{{currentUser.username}}</i></p>
      		</div>
      		<div class="navbar-header logoBox">
        		<a class="navbar-brand" href="#" id="navbarMatchmakingLink">
        			<img src="./img/Logo_MatcHammer_249x65px.png">
        		</a>
      		</div>
		    <!-- The drop down menu ICON
		    ***************************************************************** -->
		    <ul class="nav pull-right">
		    	<!-- <li><span class="glyphicon glyphicon-menu-hamburger"></span></li> -->
		       	<li class="divider-vertical"></li>
		       	<li>
		           	<a href="#menuModal" data-toggle="dropdown" id="menu">
		           		<p class="navbar-menu">Menu</p>
		           	</a>
		       	</li>
		    </ul>
		    <!-- The notification drop down display ICON
		    ***************************************************************** -->
		    <ul class="nav pull-right">
		       	<!-- <li><span class="glyphicon glyphicon-bell"></span></li> -->
		       	<li class="divider-vertical"></li>
		       	<li class="dropdown">
		           	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
		           		<p class="navbar-notifications">Notifications</p>
		           	</a>
		       	</li>
		    </ul>
  		</nav>
		
		<!-- Dynamic template display
		***************************************************************** -->
	  	<div class="container-fluid">
	  	{{#transition in="zoomIn" out="zoomOut"}}
   			{{> yield }}
   		{{/transition}}
   		</div>
   		{{>footer}}  		
  	</div>
  	{{/animate}}
  	{{>footerModal}}
  	{{>menuModal}}
</template>

<!-- The drop down menu MODAL
***************************************************************** -->
<template name="menuModal">
  	<div class="modal fade" id="menuModal">
    	<div class="modal-dialog modal-sm">
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
       			<span aria-hidden="true">&times;</span>
        		<span class="sr-only">Close</span>
      		</button>
      		<ul>
        		<li>
        			<span class="menuLinkSpan"><a href="{{pathFor 'matchmaking'}}" class="menuLinks hvr-bounce-to-right" id="menuMatchmakingLink">Matchmaking</a></span>
        		</li>
        		<li>
  		        	<span class="menuLinkSpan"><a href="{{pathFor 'gamesManager'}}" class="menuLinks hvr-bounce-to-right" id="menuGamesManagerLink">Games Manager</a></span>
 		       	</li>
		        <li>
		          	<span class="menuLinkSpan"><a href="{{pathFor 'conversations'}}" class="menuLinks hvr-bounce-to-right" id="menuConversationsLink">Messages</a></span>
		        </li>
 		       	<li>
 		         	<span class="menuLinkSpan"><a href="{{pathFor 'friendsList'}}" class="menuLinks hvr-bounce-to-right" id="menuFriendsListLink">Contacts</a></span>
 		       	</li>
 		       	<li>
 		         	<span class="menuLinkSpan"><a href="{{pathFor 'profile'}}" class="menuLinks hvr-bounce-to-right" id="menuProfileLink">Profil</a></span>
 		       	</li>
 		    </ul>
    	</div>
  	</div>
</template>

<!-- The notification drop down display
***************************************************************** -->
<template name="notifications">  
</template>

<!-- FOOTER
***************************************************************** -->
<template name="footer">
  	<footer class="footerInfos">
    	<a href="#footerModal" id="footerUse">Mentions légales</a>
  	</footer>
</template>

<!-- Footer MODAL
***************************************************************** -->
<template name="footerModal">
  	<div class="modal fade" id="footerModal">
    	<div class="modal-dialog modal-sm">
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        		<span aria-hidden="true">&times;</span>
        		<span class="sr-only">Close</span>
      		</button>
      		<div id="mentionsLegales" style="text-align: left;">
      			<h1>Mentions légales</h1>

	      		<h2>Informations</h2>
	        	<p>
	        		Ce site, Match Hammer, est hébergé par :<br>
	        		Nom<br>
	        		14 adresse blabla<br>
	        		91120 Palaiseau<br>
	        		FRANCE
	        	</p>
	        	<p>Le responsable de la publication est: ...</p>

	        	<h2>Copyright</h2>
	        	<p>Ce site n'est pas officiel et en aucun cas autorisé ou approuvé par Games Workshop.</p>
	        	<p>© Copyright Games Workshop Limited 2017. GW, Games Workshop, Space Marine, 40K, Warhammer, Warhammer 40,000, the ‘Aquila’ Double-headed Eagle logo, and all associated logos, illustrations, images, names, creatures, races, vehicles, locations, weapons, characters, and the distinctive likenesses thereof, are either ® or ™, and/or © Games Workshop Limited, variably registered around the world. All Rights Reserved.</p>
	        
	        	<h2>Données personnelles</h2>
	        	<p>Les informations recueillies à partir de ce formulaire font l’objet d’un traitement informatique destiné à : Match Hammer</p>
	        	<p>Pour la ou les finalité(s) suivante(s) : Faire fonctionner le service de pairing en matchmaking</p>
	        	<p>Le ou les destinataire(s) des données sont : Match Hammer</p>
	        	<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès et de rectification aux informations qui vous concernent.</p>
	        	<p>Vous pouvez accèder aux informations vous concernant en vous adressant à : Match Hammer</p>
	        	<p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.Pour en savoir plus, consultez vos droits sur le site de la CNIL.</p>
      		</div>
    	</div>
  	</div>  
</template>