/* CSS declarations layout1.css */

/* FONT-FACE 
- Titres: Bebas Neue
- Texte: Baskervald ADF*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('fonts/BebasNeueRegular.otf');
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url('fonts/BebasNeueBold.otf');
}
@font-face {
  font-family: 'BaskervaldADFStd';
  src: url('fonts/BaskervaldADFStd.otf');
}
@font-face {
  font-family: 'BaskervaldADFStd-Bold';
  src: url('fonts/BaskervaldADFStd-Bold.otf');
}

/* GENERAL */
html, body { margin: 0;
	padding: 0;
	height: 100%; }
body { background: url('img/bg_body_large_glitch.png') center top;
	color: #fff; }
h1, h2, h3, h4, h5, h6 { font-family: 'BebasNeueBold', 'sans-serif'; }
p { font-family: 'BaskervaldADFStd', serif; }

@media screen and (min-width: 768px) {
	.container-fluid {max-width: 75%;
		margin: auto; }}
@media screen and (max-width: 767px) {}

/* NAV */
.navbar { min-height: 40px;
	background: rgba(0,0,0,0.7);
	border: none;
	border-radius: 0; }
.navbar-brand { height: 40px;
	padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
	background: #790000; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: #790000; }

	/* ICONS NAV */
	.glyphicon { color: #ffffff; }
	.caret { color: #ffffff; }

	/* MENU modal NAV*/
	.modal-sm  { min-width: 50%; }
	#menuModal { background: rgba(0,0,0,0.3); }
	#menuModal ul { padding: 0; }
	#menuModal ul li { color: #ffffff;
		list-style-type: none;
		text-align: center;
		font-size: 3em;
		line-height: 2; }
	#menuModal ul li a { color: #ffffff;
		text-decoration: none; }

/* BTN */
.btn { margin: 5px 15px;
	font-family: 'BaskervaldADFStd-Bold', serif;
	font-size: 1.5em;
	text-align: center; }
.btn-primary { background: #9d1d20;
	border: 2px solid #a63e30; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #a63e30;
	border: 2px solid #9d1d20;
	transition: 0.15s all; }

.btn-secondary { background: #434242;
	border: 2px solid #5a5a5a;
	color: #ffffff; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
	background: #5a5a5a;
	border: 2px solid #434242;
	color: #ffffff;
	transition: 0.15s all; }