<template name="layout1">
     <nav class="navbar navbar-inverse " role="navigation">
        <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" id="navbarMatchmakingLink">MATCH HAMMER</a>
    </div>
<!--     <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
    </ul> -->
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    </ul> -->

    <!-- The drop down menu -->
    <ul class="nav pull-right">
  <!--         <li><span class="glyphicon glyphicon-menu-hamburger"></span></li> -->
        <li class="divider-vertical"></li>
          <li>
          <a href="#menuModal" data-toggle="dropdown" id="menu">
           <span class="glyphicon glyphicon-menu-hamburger"></span>
           </a>
           </li>
        </ul>

    <!-- The notification drop down display -->
    <ul class="nav pull-right">
          <!-- <li><span class="glyphicon glyphicon-bell"></span></li> -->
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="glyphicon glyphicon-bell"></span>
                <span class="badge">19</span>
                <strong class="caret"></strong>
            </a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              {{>notifications}}
            </div>
          </li>
        </ul>

  </div>
    </nav>
    <div class="container">
       {{> yield }}
    </div>
    {{>menuModal}}
</template>

<template name="menuModal">
<div class="modal fade" id="menuModal">
<div class="modal-dialog modal-sm">
  <ul>
  <li>
    <a href="{{pathFor 'Matchmaking'}}" class="menuLinks" id="menuMatchmakingLink">Matchmaking</a>
  </li>
  <li>
    <a href="{{pathFor 'gamesManager'}}" class="menuLinks" id="menuGamesManagerLink">Games Manager</a>
  </li>
  <li>
    <a href="{{pathFor 'conversations'}}" class="menuLinks" id="menuConversationsLink">Messages</a>
  </li>
  <li>
    <a href="{{pathFor 'friendsList'}}" class="menuLinks" id="menuFriendsListLink">Contacts</a>
  </li>
  <li>
    <a href="{{pathFor 'profile'}}" class="menuLinks" id="menuProfileLink">profil</a>
  </li>
</ul>
  </div>
  </div>
</template>

<template name="notifications">
    
</template>

