<template name="loginLayout">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-text-auto"><p>Autorisation en cours ...</p></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <div class="wrapper-fluid">
    <!-- NAVBAR
    ***************************************************************** -->
    {{#animate type="slideInDown" delay="3000"}}
      <nav class="navbar-fluid" role="navigation">  </nav>
    {{/animate}}
	  <!-- Dynamic template display
		***************************************************************** -->
	  <div class="container" >
      {{#transition in="zoomIn" out="zoomOut"}}
     		{{> yield }}
     	{{/transition}}
    </div>
  </div>
  {{>loginModalTemplate}}
</template>