<template name="loginLayout">
	<video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="1920" height="1028" poster="img/bg_body_large_glitch.png">
	    <source src="media/bg_body_large_glitch_animated.mp4" type="video/mp4" />
	    <source src="media/bg_body_large_glitch3.ogv" type="video/ogg" />
	    <source src="media/bg_body_large_glitch3.webm" type="video/webm" />
	</video>
    <div class="wrapper">
    	<!-- NAVBAR
		***************************************************************** -->
		<nav class="navbar navbar-inverse" role="navigation">
      		<div id="logoBoxLogin" class="navbar-header logoBox">
        		<a class="navbar-brand" href="#" id="navbarMatchmakingLink">
        			<img src="./img/Logo_MatcHammer_249x65px.png">
        		</a>
      		</div>
      	</nav>
	    <!-- Dynamic template display
		***************************************************************** -->
	  	<div class="container-fluid">
	  	{{#transition in="zoomIn" out="zoomOut"}}
   			{{> yield }}
   		{{/transition}}
   		</div>
   		{{>footer}}
      {{>footerModal}}
    </div>
    {{>loginModalTemplate}}
    {{>registerModalTemplate}}
</template>